//fonts
@font-face {
  font-family: Arial-regular;
  src: url("../../../assets/fonts/Arial/Arial_regular.ttf");
}

@font-face {
  font-family: Arial-italic;
  src: url("../../../assets/fonts/Arial/Arial_italic.ttf");
}

@font-face {
  font-family: Georgia-regular;
  src: url("../../../assets/fonts/Georgia/georgia_regular.ttf");
}

@font-face {
  font-family: Georgia-bold;
  src: url("../../../assets/fonts/Georgia/georgia_bold.ttf");
}

@font-face {
  font-family: Georgia-italic;
  src: url("../../../assets/fonts/Georgia/georgia_italic.ttf");
}
