/*----------------Header-----------------------*/

.header {
	padding: 30px 40px;
	background: #ffffff;
	position: sticky;
	top: 0px;
	@media (max-width: 1280px){
	  padding: 30px 0px;
  }
  @media (max-width: 768px){
	  padding: 30px 10px 30px 0px;
	  margin: 0 -16px 0 -8px;
  }
  @media (max-width: 320px){
	  padding: 30px 0px 30px 0px;
	  margin: 0px 0px 0px 0px;
  }

	&__container {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 40px;
		@media(max-width: 321px){
			padding: 0px 34px 0px 10px;;
		}
	}

	&__logo {
	}

	&__title {
		font-family: Georgia-regular;
		font-size: 2rem;
		line-height: 2.1875rem;
		letter-spacing: 0.06em;
		font-weight: 400;
		margin: 0 0 10px 0;
		position: relative;
  		z-index: 4;
	}

	&__title a {
		color: #545454;
	}

	&__subtitle {
		font-family: Arial-regular;
		font-size: 0.8125rem;
		line-height: 0.9375rem;
		letter-spacing: 0.1em;
		font-weight: 400;
		color: #292929;
		position: relative;
  		z-index: 4;
		@media(max-width: 320px){
			margin: 0px 0px 0px 5px;
		}
	}

	&__nav {
	}

	&__list {
		display: flex;
  			@media (max-width: 767px){
	  			position: fixed;
				flex-direction: column;
				align-items:center;
				justify-content: center;
				gap: 40px;
				width: 320px;
				height: 100%;
				overflow-y: auto;
				background-color: #ffffff;
				z-index: 3;
				margin: 0;
				top: 0;
				right: -320px;
				transition: 1.0s;
				&.open{
				right: 0;
				// box-shadow: 0 0 0 10000px rgba(0,0,0,0.5);
				}
				}
			}

	&__item {
		font-family: Arial-regular;
		font-size: 0.9375rem;
		line-height: 160%;
		font-weight: 400;
		 @media (max-width: 767px){
		font-size: 2rem;
  }
	}

	&__item:not(:last-child) {
		margin: 0 35px 0 0;
		@media(max-width: 768px){
			margin: 0px;
		}
	}

	&__item--active {
		border-bottom: 2px solid $color-text-links-normal-active--underline;
	}

	&__item:active {
		border-bottom: 2px solid $color-text-links-normal-active--underline;
	}

	&__link {
		color: #545454;
	}
	&__link--active {
		color: #292929;
	}
	&__link:active,
	&__link:hover {
		color: #292929;
		cursor: pointer;
	}
}

/*=============== Burger menu =============== */

.hamburger {
	display: none;
}
@media (max-width: 767px) {
.hamburger {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items:center;
	min-width: 30px;
	height: 22px;
	cursor: pointer;
	user-select: none;
	z-index: 4;
	margin: 0px 20px 0px 20px;
	}
}
.line {
	width: 100%;
	height: 2px;
	background: #000000;
	margin: 0;
	z-index: 15;
	transition: all 0.3s ease-in-out;
}
.hamburger.open .line1 {
	transform: rotate(-90deg) translate(-10px, -10px);
}
.hamburger.open .line2 {
	transform: rotate(-270deg) translate(0, 0);
}
.hamburger.open .line3 {
	transform: rotate(90deg) translate(-10px, -10px);
} 

.hamburger-overlay {
	display: none;

	@media(max-width:767px) {
		&.open {
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
			background-color: $color-btn--text;
			opacity: 0.6;
		}
	}
}