//colors
$color-gradient--1: #5B483A;
$color-gradient--2: #262425;
$color-gradient--3: #211F20;
$color-gradient--4: #513D2F;
$color-gradient--5: #1A1A1C;
$color-bg--1: #FFFFFF;
$color-bg--2: #F6F6F6;
$color-bg--3: #FAFAFA;
$color-btn: #F1CDB3;
$color-btn--hover: #FDDCC4;
$color-btn--text: #292929;
$color-btn--arrow-inactive: #CDCDCD;
$color-text--title:#F1CDB3;
$color-text--rules:#B2B2B2;
$color-text-title--section:#545454;
$color-text--subtitle:#FFFFFF;
$color-text-links--normal:#CDCDCD;
$color-text-links--light:#545454;
$color-text-links-normal--active:#FAFAFA;
$color-text-links-normal-active--underline:#F1CDB3;
$color-text-links-normal--hover:#FAFAFA;
$color-text-links-light--hover:#292929;