/*----------------General styles-----------------------*/

.wrapper {
	//with cut bg
	// max-width: 80rem;
	// margin: 0 auto;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background: radial-gradient(100% 215.42% at 0% 0%, $color-gradient--1 0%, $color-gradient--2 100%),
		$color-gradient--3;
		@media (max-width: 1280px){
			max-width: 80rem;
			margin: 0 auto;
		}	
	// &.open{
	// 	@media (max-width: 767px){
	// 		position: fixed;
	// 	}
	}	


.container {
	//without cut bg
	max-width: 80rem;
	margin: 0 auto;
	padding: 0 40px;
	@media (max-width: 1280px){
			max-width: auto;
			margin: 0;
		}
		@media (max-width: 320px){
			padding: 0 10px;
		}
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 207px;
	height: 52px;
	background: $color-btn;
	border-radius: 100px;
	font-family: Georgia-regular;
	text-align: center;
	font-weight: 400;
	font-size: 1.0625rem;
	line-height: 130%;
	letter-spacing: 0.06em;

	&__link {
		color: $color-text-links-light--hover;
	}
}

.btn:hover {
	background: $color-btn--hover;
	cursor: pointer;
}

.btn--transparent {
	border: 2px solid $color-btn;
	background: transparent;
	width: 187px;
}

@media (max-width: 488px) {
  .btn--transparent {
    width: 70px;
    line-height: 10px;
  }
}

/*----------------Main-----------------------*/

.main {
	flex: 1 1 auto;
}
