/*----------------Help----------------------*/

.help {
	background: $color-bg--1;
	//padding: 80px 40px 100px 40px;
	// padding: 6.25% 3.125% 7.8125% 3.125%;
	padding: 80px 0 100px 0;
	@media (max-width: 488px){
		padding: 42px 0 42px 0;
	}

		&__container {
			@media (max-width: 488px){
			padding: 0 10px;
		}
		}

		&__title {
			font-family: Georgia-regular;
			font-style: normal;
			font-weight: 400;
			font-size: 2.1875rem;
			line-height: 130%;
			text-align: center;
			letter-spacing: 0.06em;
			color: $color-text-title--section;
			margin-bottom: 60px;
			@media (max-width: 320px){
				font-size: 1.5625rem;
				margin-bottom: 42px;
			}
		}

		&__body {
		}
}

.body-help {
	display: flex;
	flex-wrap: wrap;
	row-gap: 55px;
	column-gap: 120px;
	justify-content: center;
	@media (max-width: 768px){
		column-gap: 60px;
	}
	@media (max-width: 488px){
		row-gap: 30px;
		column-gap: 30px;
	}

		&__item {
			text-align: center;
			align-self: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			row-gap: 30px;
				@media (max-width: 768px){
					min-width: 170px;	
				}
				@media (max-width: 488px){
					gap: 25px;
					min-width: 130px;
				}
			}

		&__item:last-child {
			@media (max-width: 320px){
				margin-right:auto;
				margin-left: 5px;
			}
			@media (max-width: 309px){
				margin: 0 auto;
			}
		}

		&__icon {
			@media (max-width: 488px){
		max-width: 35%;
		max-height: 35%;
	}
		}

		&__title {
			font-family: Georgia-regular;
			font-style: normal;
			font-weight: 400;
			font-size: 1.25rem;
			line-height: 115%;
			letter-spacing: 0.06em;
			color: $color-text-title--section;
			@media (max-width:488px){
			font-size: 15px;
			line-height: 110%;
			text-align: center;
		}
		}
		
}